<ion-header>
    <ion-toolbar>
        <ion-title>
            RayCalc 2.0
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="select-ssd">
        <ion-card-header>
            <ion-card-subtitle>Available in 6MV, 10MV, and 18MV</ion-card-subtitle>
            <ion-card-title>SSD Calculation</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-button expand="block">Calculate</ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card class="select-sad">
        <ion-card-header>
            <ion-card-subtitle>Available in 6MV, 10MV, and 18MV</ion-card-subtitle>
            <ion-card-title>SAD Calculation</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-button expand="block">Calculate</ion-button>
        </ion-card-content>
    </ion-card>
    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Resources</ion-label>
        </ion-list-header>
        <ion-item href="https://sites.google.com/view/raycalc/home">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>RayCalc FAQ</ion-label>
        </ion-item>
        <ion-item href="https://docs.google.com/forms/d/e/1FAIpQLSeDoR3JJOKJZvcsDvOYMcrn4JOfZgYgWlriobIT4yFiPmE6NQ/viewform">
            <ion-icon slot="start" color="medium" name="build"></ion-icon>
            <ion-label>Report a Bug</ion-label>
        </ion-item>
        <ion-item href="https://docs.google.com/forms/d/e/1FAIpQLSc7Lt6_qq2z_7HcFqP2ayxSebBA4QWw4l8RY_iJf3HFGzcY6g/viewform">
            <ion-icon slot="start" color="medium" name="send"></ion-icon>
            <ion-label>Request a Feature</ion-label>
        </ion-item>
        <ion-item (click)="presentModal()" href="">
            <ion-icon slot="start" color="medium" name="settings"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-item>
    </ion-list>
</ion-content>