<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ WhichSelected }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content scrollEnabled="true">
    <ion-grid>

        <!-- Identifer Row -->
        <ion-item>
            <ion-label position="stacked" class="input-label">Identifier</ion-label>
            <ion-input [ngStyle]="identifierStyle" [(ngModel)]="identifier" placeholder="Optional" clearInput="true"></ion-input>
        </ion-item>

        <!-- Treatment Site Row -->
        <ion-item>
            <ion-label position="stacked" class="input-label">Treatment Site</ion-label>
            <ion-input [ngStyle]="treatSiteStyle" [(ngModel)]="treatSite" placeholder="Optional" clearInput="true"></ion-input>
        </ion-item>

        <ion-row>
            <!-- Total Script Column -->
            <ion-col style="padding-left:0px !important; padding-right: 0px !important;">
                <ion-item>
                    <ion-label position="stacked" class="input-label">Total Script</ion-label>
                    <ion-input [ngStyle]="scriptStyle" [(ngModel)]="script" (ionFocus)="resetInputs('script')" placeholder="Script (cGy)" clearInput="true" inputmode="decimal" required="true"></ion-input>
                </ion-item>
            </ion-col>
            <!-- Field Setup Column -->
            <ion-col style="padding-right: 0px;">
                <ion-item>
                    <ion-label position="stacked" class="input-label">Field Setup</ion-label>
                    <ion-select interface="popover" [ngStyle]="fieldStyle" [(ngModel)]="fieldSelect" (ionFocus)="resetInputs('field')" disabled="{{ disableField }}" placeholder="Single/Opposed" inputmode="none" required="true">
                        <ion-select-option value="Single">Single</ion-select-option>
                        <ion-select-option value="Opposed">Opposed</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <!-- SSD Column -->
            <ion-col style="padding-left:0px !important; padding-right: 0px !important;">
                <ion-item>
                    <ion-label position="stacked" class="input-label">SSD</ion-label>
                    <ion-input readonly="{{ disableSSD }}" [ngStyle]="ssdStyle" [(ngModel)]="ssd" (ngModelChange)="changeISO('ssd')" (ionFocus)="resetInputs('ssd')" placeholder="80, 100" inputmode="decimal" readonly="true" required="true"></ion-input>
                </ion-item>
            </ion-col>
            <!-- Depth Column -->
            <ion-col>
                <ion-item>
                    <ion-label position="stacked" class="input-label">Depth</ion-label>
                    <ion-input [ngStyle]="depthStyle" [(ngModel)]="depth" (ngModelChange)="changeISO('depth')" (ionFocus)="resetInputs('depth')" (ionBlur)="roundDepth()" placeholder="Depth" inputmode="decimal" required="true"></ion-input>
                </ion-item>
            </ion-col>
            <!-- Energy Column -->
            <ion-col>
                <ion-item style="padding-right: 0px;">
                    <ion-label position="stacked" class="input-label">Energy (MV)</ion-label>
                    <ion-select interface="popover" [ngStyle]="energyStyle" [(ngModel)]="energySelect" (ionFocus)="resetInputs('energy')" placeholder="Energy Level" inputmode="none" required="true" readonly="true">
                        <ion-select-option value=6>6MV</ion-select-option>
                        <ion-select-option value=18>18MV</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>

        <!-- Length Label -->
        <ion-row>
            <ion-item lines="none" class="input-label">
                <ion-label class="input-label-row">Length</ion-label>
            </ion-item>
        </ion-row>

        <!-- Length Variables -->
        <ion-row style="margin-top: -10px;">
            <ion-col size="2.5" style="padding-left:0px !important; padding-right: 0px !important;">
                <ion-item>
                    <ion-input [(ngModel)]="x1" placeholder="X1" inputmode="decimal" required="true" (ngModelChange)="changeLength()"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="2.5" style="padding-left:0px !important; padding-right: 0px !important;">
                <ion-item>
                    <ion-input [(ngModel)]="x2" placeholder="X2" inputmode="decimal" required="true" (ngModelChange)="changeLength()"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col style="padding-right: 0px;">
                <ion-item>
                    <ion-input [ngStyle]="lengthStyle" [(ngModel)]="length" (ionFocus)="resetInputs('length')" placeholder="Length" inputmode="decimal" required="true" (ngModelChange)="changeX()"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <!-- Width Label -->
        <ion-row>
            <ion-item lines="none" class="input-label">
                <ion-label class="input-label-row">Width</ion-label>
            </ion-item>
        </ion-row>

        <!-- Width Variables -->
        <ion-row style="margin-top: -10px;">
            <ion-col size="2.5" style="padding-left:0px !important; padding-right: 0px !important;">
                <ion-item>
                    <ion-input [(ngModel)]="y1" placeholder="Y1" inputmode="decimal" required="true" (ngModelChange)="changeWidth()"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="2.5" style="padding-left:0px !important; padding-right: 0px !important;">
                <ion-item>
                    <ion-input [(ngModel)]="y2" placeholder="Y2" inputmode="decimal" required="true" (ngModelChange)="changeWidth()"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col style="padding-right: 0px;">
                <ion-item>
                    <ion-input [ngStyle]="widthStyle" [(ngModel)]="width" (ionFocus)="resetInputs('width')" placeholder="Width" inputmode="decimal" required="true" (ngModelChange)="changeY()"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <!-- Equivalent Square Row -->
        <ion-item>
            <ion-label position="stacked" class="input-label">Equivalent Square</ion-label>
            <ion-input [ngStyle]="equivalentSqrStyle" [(ngModel)]="equivalentSqr" placeholder="(2ab)/(a+b)" inputmode="decimal" required="true" readonly="true"></ion-input>
        </ion-item>

        <ion-button (click)="calculatePressed()" style="margin-top: 30px;" expand="block">Calculate</ion-button>
    </ion-grid>
</ion-content>