<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="presentPopover($event)">
                <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content scrollX="true">
    <table class="data-table">

        <tr>
            <td *ngFor="let header of headerRow; let i = index" id="header" class="ion-text-center"><b>
              <div *ngIf="header == 'Field Size'" class="fieldHeader">{{ header }}</div>
              <div *ngIf="i != 0">{{ header }}</div>
        </b></td>
        </tr>


        <tr *ngFor="let row of tableData; let i = index">
            <td *ngFor="let data of row; let j = index" class="ion-text-center">
                <div *ngIf="j == 0" class="div-yaxis"><b>{{ data }}</b></div>
                <div *ngIf="j != 0 && j % 2 == 1" class="div-col-odd">{{ data }}</div>
                <div *ngIf="j != 0 && j % 2 == 0" class="div-col-even">{{ data }}</div>
            </td>
        </tr>
    </table>
</ion-content>