<ion-header>
    <ion-toolbar>
        <ion-button style="float: right;" (click)="closeModal()" fill="clear">Close</ion-button>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="stacked">Dosimetrist Name</ion-label>
        <ion-input placeholder="Please enter your name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">ISO</ion-label>
        <ion-input placeholder="Eg. 80 or 100"></ion-input>
    </ion-item>
</ion-content>